@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto:ital,wght@0,100;0,300;1,100;1,400&family=Space+Grotesk:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
header{
    background-image: url(./Assets/bg-mobile-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 230px;
}
.message{
    visibility: hidden;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding: 0px 10px;
    color: hsl(235, 19%, 35%);
}
.darkHeader{
    background-image: url(./Assets/bg-mobile-dark.jpg);
}
main{
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 98%);
}
.darkMain{
    background-color: hsl(235, 21%, 11%);
}
.module{
    background-color: transparent;
    height: 100vh;
    position: absolute;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.moduleContent{
    margin-top: 50px;
    width: 90%;
}
.moduleHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.moduleHeader h1{
    color:white;
    font-weight: 700;
    letter-spacing: 8px;
}
.switchThemeLogo{
    cursor: pointer;
}
.moduleFooter{
    visibility: hidden;
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: white;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
}
.darkModuleFooter{
    background-color: hsl(235, 24%, 19%);
}
.moduleFooter button{
    border: none;
    background-color: transparent;
    color: hwb(237 58% 35%);
    font-size: 12px;
    cursor: pointer;
}
.createNew{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 15px 0px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.darkCreateNew{
    background-color: hsl(235, 24%, 19%);
    color: white;
}
.plusSign{
    font-size: 20px;
}
.addLogo{
    width: 20px;
    height: 20px;
    border: 2px solid hsl(235, 25%, 59%);
    border-radius: 100%;
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(235, 25%, 59%);
}
.addLogoDark{
    border: 2px solid hsl(236, 17%, 68%);
    color: hsl(236, 17%, 68%);
}
.createNewInput{
    width: 90%;
    border: none;
    font-size: 15px;
    margin-left: 20px;
    outline: none;
    color: hsl(235, 19%, 35%);
    background-color: transparent;
}
.darkInput{
    color: hsl(236, 33%, 92%);
}
.darkInput::placeholder{
    color: hsl(235, 14%, 69%);
}
.listItems{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px 5px 0px 0px;
}
.darkListItems{
    background-color: hsl(235, 24%, 19%);
}
.item{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid hsl(236, 33%, 92%);
}
.doneBtn{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    outline: none;
    border: 2px solid hsl(235, 19%, 35%);
    background-color:transparent;
    margin: 0px 15px;
    cursor: pointer;
}
.checkedDoneBtn{
    background-image: url(https://cdn-icons-png.flaticon.com/512/7709/7709965.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
.darkCheckedDoneBtn{
    background-image: url(https://www.downloadclipart.net/large/35564-blue-white-checkmark-clipart.png);
    background-size: 14px;
}
.itemText{
    font-size: 15px;
    color: hsl(235, 19%, 35%);
    border: none;
    outline: none;
    background-color: transparent;
    width: 80%;
}
.darkItemText{
    color: hsl(236, 33%, 92%);
}
.itemTextCompleted{
    text-decoration: line-through;
    color: hsl(235, 19%, 35%)
}
.deleteBtn{
    margin-left: auto;
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: hsl(235, 19%, 35%);
    cursor: pointer;
    margin-right: 10px;
}
.darkDeleteBtn{
    color: hsl(236, 33%, 92%);
}


@media screen and (min-width: 800px) {
    header{
        background-image: url(./Assets/bg-desktop-light.jpg);
        height: 250px;
    }
    .darkHeader{
        background-image: url(/Assets/bg-desktop-dark.jpg);
    }
    .addLogo{
        width: 30px;
        height: 30px;
    }
    .plusSign{
        font-size: 30px;
    }
    .moduleContent{
        width: 40%;
        margin-top: 70px;
    }
    .createNew{
        padding: 20px 0px;
        font-size: 18px;
    }
    .moduleFooter{
        padding: 15px;
    }
    .moduleFooter button{
        font-size: 14px;
    }
    .doneBtn{
        width: 25px;
        height: 25px;
    }
    .itemText{
        font-size: 18px;
    }
    .checkedDoneBtn{
        background-size: 20px;
    }
    .darkCheckedDoneBtn{
        font-size: 17px;
    }

}
